.wp-block-cgb-block-gutenberg-card-block  {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
  background-image: linear-gradient(to right, red , yellow);
}
